<%= form_with model: @emp do |form| %>
    <div>
        <%= form.label :name %>
        <%= form.text_field :name %>
        <% @emp.errors.full_messages_for(:name).each do |message| %>
            <%= message %>
        <% end %>
    </div>
    <div>
        <%= form.submit %>
    </div>
<% end %>